#header {
    background: rgb(53, 186, 61) url(Images/header.png) no-repeat top right;
    margin: 0;
    padding: 0;
}

#header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header_logo {
    height: 70px;
}

#header_toolbar {
    height: 30px;
    background: url(Images/header_toolbar.png) repeat-x;
}