body{background:url(../images/login/bgindex.gif) repeat-x scroll;font-size:12px;margin:0;padding:0; font-family:Î¢ÈíÑÅºÚ Verdana Georgia;}
.content{width:957px;height:500px;margin:30px auto;}
.content div{float:left;}
.column_left{width:581px;}
.column_center{width:267px;}
.column_right{width:109px;}
#logo{width:421px;height:80px;background:transparent url(../images/login/login_log.gif) no-repeat scroll;}
.column_left_h80_w160{ width:160px; height:80px;}
.column_left_h279{height:279px;width:581px;background:transparent url(../images/login/login_bg_left.gif) no-repeat scroll;}
.column_center_h80{width:267px;height:80px;background:url(../images/login/login_sysname.gif) no-repeat scroll;}
.column_center_h162{width:267px;height:162px;background:url(../images/login/login_input.gif) no-repeat scroll;}
.column_center_h45_w91{width:91px;height:45px;background:url(../images/login/login_btn_left.gif) no-repeat scroll;}
.column_center_h45_w111,.loginbtn{width:111px;height:45px;background:url(../images/login/login_button.gif) no-repeat scroll;}
.loginbtn{ border:0; cursor:pointer;}
.column_center_h45_w65{width:65px;height:45px;background:url(../images/login/login_btn_right.gif) no-repeat scroll;}
.column_center_h142{width:267px;height:142px;;background:url(../images/login/login_foot.gif) no-repeat scroll;}
.column_right_h80{width:109px;height:80px;}
.column_right_h279{width:109px;height:279px;background:url(../images/login/login_bg_right.gif) no-repeat scroll;}
.clear{ clear:both;}
.footline{ width:957px; height:30px; margin-top:50px; border-top:1px solid #ccc; padding-top:10px; text-align:center;}

/**/
.column_center_h162 p{ margin:20px;}
.txt{ width:140px; height:23px; line-height:21px; margin-left:20px; border:1px solid #ccc; color:#941; padding:0px 5px; letter-spacing:1px; font-weight:700;}
.placeholder{ display:block; width:267px; height:37px;}
.column_center_h142 p{ margin:5px 20px; color:#777; font-size:90%;}
a{ color:#33a6ff; text-decoration:none;}

div.aspNetHidden{ display:none;}