@import "Base.css";

#nav {
    background: url(../images/nav.png) repeat-y;
    overflow: auto;
    height: 500px;
    width: 195px;
}

#nav_top_top {
    background-image: url(../images/nav_top_top.png);
    width: 195px;
    height: 18px;
}

#nav_top_bottom {
    margin: 0 8px 0 8px;
    background-image: url(../images/nav_top_bottom.png);
    width: 178px;
    height: 25px;
}

#nav_menu {
    margin: 0 8px 0 8px;
    border: 1px solid #BFF6D5;
    width: 176px;
    background-color: White;
}

#nav_menu ul {
    margin: 0;
    list-style: none;
}

#nav_menu ul li {
    background: url(../images/nav_menu_ul_li.png) no-repeat;
}

#nav_menu ul li a {
    padding-left: 25px;
}

#nav_menu ul li ul {
    margin: 5px 0 5px 15px;
    display: none;
}

#nav_menu ul li ul li {
    background: url(../images/nav_menu_ul_li_ul_li.png) no-repeat;
}

#nav_menu ul li ul li a {
    padding-left: 20px;
}

#nav_menu ul li ul li ul {
    list-style: square;
    margin-left: 30px;
}

#nav_menu ul li ul li ul li {
    background-image: none;
}

#nav_menu ul li ul li ul li a {
    padding-left: 0;
}