@import "Base.css";

#nav {
    background: url(../images/nav.jpg) no-repeat;
    overflow: hidden;
    height: 500px;
    width: 195px;
}

#nav_menu {
    margin: 26px 8px 0 8px;
    font-size: 14px;
    width: 182px;
}

#nav_menu ul {
    list-style: none;
    margin: 0;
}

#nav_menu ul ul {
    background: url(../images/nav_menu_ul_ul.png) no-repeat bottom left;
    padding: 4px 0 18px 2px;
    margin: 0 0 1px 1px;
    display: none;
}

#nav_menu ul ul ul {
    background-image: none;
    padding-bottom: 0;
}

#nav_menu ul a {
    background: url(../images/nav_menu_ul_a.png) no-repeat;
    text-indent: 36px;
    line-height: 28px;
    display: block;
    height: 32px;
    color: #FFF;
}

#nav_menu ul ul a {
    background: url(../images/nav_menu_ul_ul_a.gif) no-repeat 6px 6px;
    text-indent: 18px;
    line-height: 20px;
    height: 22px;
    width: 176px;
    color: #0C3B6F;
}

#nav_menu ul ul ul a {
    background: url(../images/nav_menu_ul_ul_ul_a.gif) no-repeat 18px 10px;
    text-indent: 30px;
}

#nav_menu ul a:hover {
    background: url(../images/nav_menu_ul_a_hover.png) no-repeat;
}

#nav_menu ul ul a:hover {
    background: url(../images/nav_menu_ul_ul_a_hover.gif) #e8f1f8 no-repeat 6px 8px;
    border-top: 1px solid #8AA9C8;
    border-bottom: 1px solid #8AA9C8;
    line-height: 18px;
    height: 20px;
}

#nav_menu ul ul ul a:hover {
    background: url(../images/nav_menu_ul_ul_ul_a.gif) no-repeat 18px 10px;
    line-height: 20px;
    height: 22px;
    border: none;
}