
PrecompiledWeb/
[Bb]in/
[Oo]bj/
/packages/
[Aa]ttachment/
packages.config
[Ww]eb.config
*.sdf
*.docstates
*.suo
*.cache
*.user
*.orig
*.vsmdi
*.vsp
*.psess
*.sql
*.psd
*[Tt]est*
*.BASE
*.LOCAL
*.REMOTE