
[Bb]in/
[Oo]bj/
/packages/
TestResults/
TssTest/
NTest/
[Aa]ttachment/
packages.config
[Ww]eb.config
*.sdf
*.docstates
*.suo
*.cache
*.user
*.orig
.gitconfig
*.vsmdi
*.vsp
*.psess
*.testsettings
WebSite/ComprehensiveReport/Default.aspx
WebSite/ComprehensiveReport/Default.aspx.cs
WebSite/MaintenanceCycle/Default.aspx.cs
WebSite/MaintenanceCycle/Default.aspx
TestProject1/Properties/AssemblyInfo.cs
TestProject1/TestProject1.csproj
TestProject1/WebTest1.webtest