body
{
    font-size: 9pt;
    margin: 0;
    padding: 0;
}
.myTB .selectedCell
{
    background-color: #D6E7FB;
    border: solid 1px black;
}
.myTB
{
    border: solid 1px #cccccc;
    table-layout: fixed;
    border-collapse: collapse;
}
.myTB th
{
    background-color: #F7F7F7;
    border: solid 1px #E6E6E6;
    height:23px;
}
.myTB td
{
    background-color: White;
    border: solid 1px #BBB;
    text-align: center;
    height:23px;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
}
        
#toolbar
{
    border: solid 1px #ccccd4;
    height: 27px;
    width: 100%;
    line-height: 130%;
    background-color: #F2F2F2;
    top: 0;
    float:left;
    position:fixed;
    padding:3px 0px;
}