*{margin:0;padding:0;}
html,body{ height:100%;}
body{text-align:left;color:#000;font-size:12px;font-family:宋体, Helvetica, sans-serif;line-height:150%;}
a{text-decoration: none;cursor:pointer;}
a:link{color:#5595FF;}
a:visited{color:#00f;}
a:hover{color:#f00;}
input,select,textarea,option{font-size:12px;font-family:宋体, Helvetica, sans-serif;}
textarea{border:1px solid #898F94;}
img{border:0;}
ul,li{list-style:none;}

.clear{clear:both;height:0;overflow:hidden;}
.font16{font-size:16px;font-weight:bold;}
.font14{font-size:14px;font-weight:bold;}
.font12{font-size:12px;font-weight:200;}
.t_l{text-align:left;}
.t_c{text-align:center;}
.t_r{text-align:right;}
.fl_l{ float:left;}
.fl_r{ float:right;}
.m_5{ margin:5px !important;}
.gray{color:#B5B5B5;}
.red{ color:red;} 
.text1{ width:128px; height:18px; border:1px solid #7F8080; }

#top{ width:100%; height:102px;background:url(images/topbg.png) repeat-x; overflow:hidden;}
#top .top{ height:43px; overflow:hidden; background:url(images/top.bmp) no-repeat; text-align:right; padding-top:25px;}
#top .top .time{ height:25px; width:200px; color:#fff; font-size:14px; margin-right:25px;}
#top .nav{ height:34px; padding-right:20px;}
#top .nav li a{ display:block; float:left; color:#fff; padding:0 20px; height:34px; line-height:34px; font-size:14px; font-weight:bold;}
a.nh1:hover,.now1{background:url(images/navh1.gif) no-repeat center 4px; color:#002D56 !important;}
a.nh:hover,.now{background:url(images/navh.gif) no-repeat center 4px; color:#002D56 !important;}
a.nh2:hover,.now2{background:url(images/navh2.gif) no-repeat center 4px; color:#002D56 !important;}
#top .nav .admin{ width:204px; height:34px; line-height:34px; padding-left:25px; font-size:14px; font-weight:bold; color:#fff;}
#top .nav .fl_r{ text-align:left;}
.top_gif{position:absolute; width:451px; height:70px; z-index:1; right:0px; top: 0px; float:right; background:url(images/top_right.jpg);}

.body_bg{ background:url(images/ling_bg.png);}
.line{background:url(images/line_topbg.gif) no-repeat top; height:100%;}
.line .arrow1{ display:block; height:100%; background:url(images/line1.png) no-repeat center;}
.line .arrow2{ display:block; height:100%; background:url(images/line2.png) no-repeat center;}

.leftbg{ background:url(images/leftbg.gif) repeat-y #FECF99;}
.L_top{margin:0 9px 0 8px; background-image:url(images/left_top.png); width:178px; height:25px;}
#menu{margin:0 9px 0 8px; border:1px solid #BFF6D5; }
#menu a{ display:block; color:#002D56;}
#menu a:hover{color:#f00;}
.L1{ font-size:14px; font-weight:bold; _height:25px; line-height:25px; background:url(images/Lnavbg.png) no-repeat;}
.L1 a{ padding-left:25px;}
.img
{
background-image:url(images/mimg2.gif);
margin:0 3px 0 10px;
width:12px;
height:20px;
padding-bottom:1px;
float:left;
text-align:right;
}

.U1{ padding:5px 0; background:#fff;}
.L22 a,L3 a{ height:25px; line-height:25px; font-weight:normal; margin-left:-15px !important;}
.L22 a:hover,L3 a:hover{left:1px;top:1px;position:relative;}

.IE6{ _overflow-y:scroll;}
#main{ padding:0 10px; height:90%; background:#fff;}
#main2{ padding:0px; height:90%; background:#fff;}
.title{ height:41px; padding-left:35px;background:url(images/titlebg1.gif) no-repeat left top #fff; color:#002D56; width:96.5%;}
.title .fl_l{ padding-top:20px; padding-left:8px;}
.tab_m{border-collapse:collapse;margin:2px auto;}
.tab_m th{ height:26px; line-height:26px; background:#E6F5EB; text-align:center; border:1px solid #ADAFAE; color:#002D56;}
.tab_m td{border:1px solid #ADAFAE;	padding-left:1px; vertical-align:middle; text-align:center;}
.mbt{ height:26px; line-height:26px; font-size:14px; font-weight:bold; background:url(images/mbt_bg.gif) repeat-x; clear:both; margin-top:10px;}
.mbt .fl_l{ background:#fff; margin-top:2px; color:#002D56;}
.mbt_l{ float:left; width:28px; height:29px;}
.mbt_r{ float:right; width:50px; height:19px; overflow:hidden; margin-right:20px;}
.mbt_r a{ font-size:12px; font-weight:normal; background:#fff;}
.sous{ background:url(images/sousbg.gif) repeat-x; margin-top:10px; height:90px;}
.sous input{ border:1px solid #E1DDDE; background:#fff;}

.mt_10{ margin-top:10px;}
.bor_nl{ border-left:none !important;}
.bor_nr{ border-right:none !important;}
.time{ color:#999;}

.m_but{height:27px; padding-top:5px; padding-right:0px; padding-left:8px;background:url(images/m_top_bg.gif) repeat-x;_overflow:hidden;}
.but2,.but4{ width:60px; height:22px; padding-top:2px; margin-left:8px; display:block; float:left; text-align:left;}
a.but2:hover{color:#00637A; background:url(images/but2_h.gif) no-repeat;}
.but4{ width:90px;}
a.but4:hover{color:#FF7800; background:url(images/but4_h.gif) no-repeat;}
.m_but2{ height:25px; margin-top:5px;}
.D_img{ text-align:center;}
.bgtx{ background:url(images/bgtx.gif) repeat-y right #fff !important;}
h5{ height:25px; line-height:25px; padding-left:8px; background:#6DD987; color:#fff;}
.m_img{ float:left; width:28px; text-align:center; padding-top:0px;}
.tongxl .but{ margin:8px; display:block; width:60px; height:16px; text-align:center;}
.botbody{ background:url(images/botbg.png) repeat-x;}

.bot{background-image:url(images/bot.png);width:219px;height:15px;}
.lefttopbg{background-image:url(images/lefttopbg.gif);width:195px;height:18px;}
left_top{background-image:url(images/left_top.png);width:178px;height:25px;}
.titlebg2{background-image:url(images/titlebg2); width:14px; height:41px;}
.dot{ background-image:url(images/dot.gif); width:7px; padding-bottom:1px; float:left; text-align:right; margin-left:5px; margin-right:3px;}
.mimg1{ background-image:url(images/mimg1.gif); width:14px; padding-bottom:2px; float:left; text-align:right; margin-left:5px;}
.mimg22{ background-image:url(images/mimg22.gif); width:14px; padding-bottom:1px; margin-top:2px; float:left; text-align:right; margin-left:5px;}
.mimg3{ background-image:url(images/mimg3.gif); width:14px; padding-bottom:2px; float:left; text-align:right; margin-left:8px;}
.mimgn{ background-image:url(images/mimgn.gif); width:14px; padding-bottom:3px; float:left; text-align:right; margin-left:5px;}
.mimg4{ background-image:url(images/mimg4.gif); width:14px; padding-bottom:3px; float:left; text-align:right; margin-left:5px;}
.mimg5{ background-image:url(images/mimg5.gif); width:14px; padding-bottom:3px; float:left; text-align:right; margin-left:5px;}
.mimgs{ background-image:url(images/mimgs.gif); width:14px; padding-bottom:3px; float:left; text-align:right; margin-left:5px;}
.mimg7{ background-image:url(images/mimg7.gif); width:14px; padding-bottom:3px; float:left; text-align:right; margin-left:5px;}
.wangmail{ background-image:url(images/wangmail.gif); width:19px; padding-bottom:1px; float:left; text-align:right; }

.button_long{border:0px;background-image:url(images/btn_long.gif) ;height:22px;width:80px;}
.button_short{border:0px;background-image:url(images/btn_short.gif);height:22px;width:46px;}
.button_long1{border:0px;background-image:url(images/btn_long1.gif) ;height:22px;width:100px;}
.denglu_login{background-image:url(images/but_bg.gif); width:147px; height:29px; border:0px; color:#4F7FF8;cursor:pointer;}
.denglu1_login{background-image:url(images/but_bg1.gif); width:147px; height:29px; border:0px; color:#4F7FF8;cursor:pointer;}
.chongzhi_login{background:url(images/chongzhi.gif); width:41px; height:22px; border:0px; color:#4F7FF8;}
.input{border:1px solid #999999; height:18px; width:250px;}

.delete{background-image:url(images/delete.gif) no-repeat center; width:14px; height:20px;}
.edit{background:url(images/edit.gif) no-repeat center; width:14px; height:20px;}
.more{ background:url(images/more.gif) no-repeat center; width:80px; height:20px; margin-top:2px;}

.right_tab_03{background-image:url(images/tab_03.gif); width:15px; height:30px;}
.right_tab_07{background-image:url(images/tab_07.gif); width:14px; height:30px;}
.right_tab_12{background-image:url(images/tab_12.gif); width:9px; height:100%}
.right_tab_05{background-image:url(images/tab_05.gif);}
.right_tab_16{background-image:url(images/tab_16.gif); width:9px; height:100%}
.right_tab_20{background-image:url(images/tab_20.gif);}
.right_tab_21{background-image:url(images/tab_21.gif);}
.right_tab_22{background-image:url(images/tab_22.gif);}

.right_tab_031{background-image:url(images/tab_031.gif); width:15px; height:15px;}
.right_tab_071{background-image:url(images/tab_071.gif); width:14px; height:15px;}
.right_tab_051{background-image:url(images/tab_051.gif);}

 .MzTreeViewCell_0
        {
            border-bottom: 1px solid #CCCCCC;
            background:#E6F5EB repeat-x;
            padding: 0px;
            margin: 0px; 
        }
.MzTreeViewCell_1
        {
            border-bottom: 1px solid #CCCCCC;
            border-left: 1px solid #CCCCCC;
            background:#E6F5EB repeat-x;
            width: 80px;
            padding: 0px;
            margin: 0px;
            text-align:center;
        }
 
.tab{margin:0 auto !importent; border:1px solid #ADAFAE; margin-top:3px; }
.tab th{ height:26px; line-height:26px; background:#E6F5EB ; border-right:none; border-left:none; color:#002D56;}
.tab td{border-bottom:0px solid #ADAFAE ; border-right:none; border-left:none;	height:22px;line-height:22px;padding-left:1px ;}  

.tab_left{border-collapse:collapse;margin:0 auto; border:1px solid #ADAFAE;}
.tab_left th{ height:26px; line-height:26px; background:#E6F5EB;border:1px solid #ADAFAE; color:#002D56; text-align:center;}
.tab_left td{border:1px solid #ADAFAE;	height:22px;line-height:22px;padding-left:1px; text-align:left;}

.grid_div_01{width:99%; height:85%; overflow-x:hidden; overflow-y:auto; margin-left:7px;}
.grid_div_02{width:97%; height:100%;}
.grid_div_03{width:99%; height:90%; overflow-x:auto; overflow-y:auto; margin-left:7px;}



div{ scrollbar-3dlight-color:#ADEAC3; scrollbar-arrow-color:#FFFFFF; scrollbar-track-color:#FFFFFF; scrollbar-darkshadow-color:#ADEAC3; scrollbar-face-color:#ADEAC3; scrollbar-highlight-color:#FFFFFF; scrollbar-shadow-color:#FFFFFF;}

.td_bg{ background-color:#E6F5EB;}








/* 数据表格定义 */
.dataTable{
	border:1px solid #777777;
	background-color:#FFFFFF;
}

.dataTable th{
	height:22px;
	font-weight:normal;
	color:black;
	background-color:#E6F5EB;
	text-align:center;	
}
.dataTable td{
	height:20px;
	padding-left:3px;
}



.reportbody
{
	margin:0 auto !importent; border:1px solid #ADAFAE; margin-top:3px; 
}

.reportbody th
{
	 height:26px; line-height:26px; background:#E6F5EB;border:1px solid #ADAFAE; color:#002D56; text-align:center;
}
.reportbody td
{
	border:1px solid #ADAFAE;	padding-left:1px; vertical-align:middle; text-align:center;
}
	

.reportTitle
{
	font-size:16px;
	font-weight:bold;
	color:Black;
}


