<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="GET" path="EquipmentCategory.ashx" type="EquipmentCategory" />
    </httpHandlers>
  </system.web>
  <connectionStrings>
    <add name="TSS" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=TSS;User Id=sa;Password=1024;"/>
  </connectionStrings>
</configuration>