<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
        <!--认证方式-->
        <authentication mode="Forms">
            <forms name=".ASPXAUTH" loginUrl="login.aspx" defaultUrl="default.htm" path="/"/>
        </authentication>
        <authorization>
            <deny users="?"/>
            <allow users="*"/>
        </authorization>
        <pages clientIDMode="Static"/>
        <globalization  fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN"/>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="EntityFramework, Version=4.1.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            </assemblies>
        </compilation>
        <httpHandlers>
            <add verb="GET" path="EquipmentCategory.ashx" type="EquipmentCategoryHandler"/>
            <add verb="GET,POST" path="Exp.ashx" type="ExpHandler"/>
            <add verb="GET,POST" path="Exptemplate.ashx" type="ExpTemplateHandler"/>
            <add verb="GET" path="delete.ashx" type="DeleteHandler"/>
            <add verb="GET,POST" path="upload.ashx" type="UploadHandler"/>
            <add verb="GET,POST" path="employee.ashx" type="EmployeeHandler"/>
            <add verb="GET,POST" path="role.ashx" type="RoleHandler"/>
            <add verb="GET,POST" path="workflow.ashx" type="WorkflowHandler"/>
            <add verb="POST" path="org.ashx" type="OrgHandler"/>
            <add verb="POST" path="login.ashx" type="LoginHandler"/>
            <add verb="GET,POST" path="expcategory.ashx" type="ExpCategoryHandler"/>
        </httpHandlers>
        <httpRuntime requestValidationMode="2.0"/>
    </system.web>
    <appSettings>
        <add key="CertificateScan" value="~/attachment/Certificate/"/>
        <add key="Experiment" value="~/attachment/experiment/"/>
        <add key="Document" value="~/attachment/document/"/>
        <add key="WF_CON_NAME" value="workflow"/>
        <add key="DatabaseInitializerForType TSS.Models.Context, TSS.Models" value="Disabled"/>
    </appSettings>
    <connectionStrings>
        <add name="TSS" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.171.222;Initial Catalog=TSS;User Id=sa;Password=1128;"/>
        <add name="workflow" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.171.222;Initial Catalog=workflow;User Id=sa;Password=1128;"/>
    </connectionStrings>
    <location path="test.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="images">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="scripts">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="styles">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="login.ashx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Accessdenied.htm">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="InitProfile.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <!--uploadify 上传文件处理程序-->
    <location path="upload.ashx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="exp.ashx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
</configuration>